@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

main{
    padding-block: 4.5rem;
    padding-inline: 2rem;
}

h1{
    font-size: 1.25rem;
    color: var(--Cyan);
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #fff;
    margin-bottom: 1.125rem;
}

body{
    color: var(--Ligh-Gray);

}